
<footer class="page-footer font-small mdb-color lighten-3 pt-4">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 footer-copyright py-3">
				© {{currentYear}}: <a href="https://github.com/OCTRI/poc-hpo-on-fhir"> {{displayName}}</a>  {{appVersion}}
			</div>
			<div class="col-sm-6">
				<div class="float-right">
					<a href="http://www.ohsu.edu/xd/research/centers-institutes/octri/">
						<img src="/images/octri.png" height="30" class="d-inline-block"
						alt="OCTRI logo">
					</a> <a href="https://www.jax.org"> <img src="/images/jax.png"
						height="30" class="d-inline-block" alt="JAX logo">
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>

<script type="text/javascript"
	src="{{req.contextPath}}/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="{{req.contextPath}}/webjars/bootstrap/js/bootstrap.min.js"></script>
{{#includeHpoSummaryJs}}
	<script type="text/javascript"
		src="{{req.contextPath}}/webjars/datatables/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript"
		src="{{req.contextPath}}/webjars/datatables/js/dataTables.bootstrap4.min.js"></script>
	<script src="{{req.contextPath}}/js/hposummary.js"></script>
{{/includeHpoSummaryJs}}

 </body>
</html>