<!DOCTYPE HTML>
<head>

<title>HPO on FHIR</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" href="{{req.contextPath}}/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="{{req.contextPath}}/css/main.css" />

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">HPO on FHIR</a>
		</div>
		<div id="navbar ">
			<ul class="nav navbar-nav">
				<li><a href="{{req.contextPath}}/">Search</a></li>
				<li><a href="{{req.contextPath}}/annotations/">View Annotations</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="navbar-text">Logged in as (No Authentication Yet)</li>
				<li class="navbar-text">Logout</li>
			</ul>
		</div>
	</div>
</nav>