body{
	padding-top:60px;
}

footer{
    margin-top:60px;
}

textarea{
	padding:5px;
}

.vertical-space {
	padding-top: 15px;
	padding-bottom: 15px;
}

.error-text {
	color:#a94442;
}

table, th, td {
	width: 80%;
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 5px;
    padding: 15px;
}

.navbar {
    background-color: #bcd0ef;
}
