body {
	padding-top: 0rem;
}

footer {
	margin-top: 1.5rem;
}

.vertical-space {
	padding-top: .5rem;
	padding-bottom: .5rem;
}

.error-text {
	color: #a94442;
}

.navbar {
	background-color: #bcd0ef;
}

.details-row {
	background-color: #e9ecef;
	font-size: .9rem;
}

.details-card {
	margin-left: 2rem;
}

.alert-banner {
	padding: 0.25rem;
}

.navbar {
	margin-top: 1rem;
}