body {
	padding-top: 4rem;
}

footer {
	margin-top: 1.5rem;
}

.vertical-space {
	padding-top: .5rem;
	padding-bottom: .5rem;
}

.error-text {
	color: #a94442;
}

.navbar {
	background-color: #bcd0ef;
}

td.details-control {
    background: url('../../images/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('../../images/details_close.png') no-repeat center center;
}

.sub-table {
	font-size: .9rem;
}